body {
  color: var(--tg-theme-text-color);
  background: vat(--tg-theme-bg-color);
}

#main {
  display: none;
}

button {
  color: var(--tg-theme-text-color);
  background: vat(--tg-theme-bg-color);
}

button:hover {
  background: var(--tg-theme-secondary-bg-color);
}

#form {
  display: block;
  text-align: center;
}

input {
  width: 20%;
  outline: none;
  margin: 2% 2%;
  padding: 10px 10px;
  border: 2px solid silver;
  border-radius: 5px;
}

input:focus {
  border-color: #db5d5d;
}

