body {
  color: var(--tg-theme-text-color);
  background: vat(--tg-theme-bg-color);
}

button {
  color: var(--tg-theme-text-color);
  background: vat(--tg-theme-bg-color);
}

button:hover {
  background: var(--tg-theme-secondary-bg-color);
}

#form {
  display: none;
  text-align: center;
}

input {
  width: 90%;
  outline: none;
  margin: 10px 5%;
  padding: 15px 10px;
  border: 2px solid silver;
  border-radius: 5px;
}

input:focus {
  border-color: #db5d5d;
}
